[Unit]
Description=GPS (Global Positioning System) Daemon
# Needed with chrony SOCK refclock
After=chronyd.service

[Service]
EnvironmentFile=-/etc/sysconfig/gpsd
ExecStart=/usr/sbin/gpsd -F /var/run/gpsd.sock -N $OPTIONS $DEVICE

[Install]
WantedBy=multi-user.target
